<div class='allContent clip-default '>
  <div class="containBox">

      <div class="picture">
        <img src={{bustle.image}}>
      </div>
      <div class="article">
        <h3 class="title">{{#link-to 'bustle' bustle.id}}{{bustle.title}}{{/link-to}}</h3>
        <p class="caption">{{bustle.caption}}</p>
        <p class="author">By {{bustle.author}}</p>
      </div>
  </div>
</div>
